.contact_us_container{
    background-image: url("./../assets/images/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px;
    background-position: center;
}